<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
</head>
<body>
<form action="/add" method="post">
    cityinput:<input type="text" name="username">
    <br>
    <br>
    <input type="submit" value="add">
</form>
</body>
</html>