<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dataList</title>
</head>
<body>
<table>
    <% for(var i=0;i<msg.length; i++){%>
        <tr><td><%=msg[i].name%></td><td><%=msg[i].age%></td></tr>
    <%}%>
</table>

</body>
</html>