html, body {
    height: 100%;
    width: 100%;
}

.right-area {
    width: calc(100% - 250px);
    height: calc(100% - 60px);
    float: left;
    padding-left: 20px;
}
.addr {
    height: 30px;
    background-color: #ededec;
    color: rgba(127, 126, 124, 0.63);
    border-radius: 3px;
    margin: 10px 0;
    line-height: 30px;
    padding:0 10px;
}