<link rel="stylesheet" href="/css/nav.css" type="text/css">
<nav class="nav-bar">
    <div >nodejs</div>
    <div class="nav-btn">商品管理</div>
    <div class="nav-btn">系统设置</div>
    <div style="float: right">欢迎您，
        <!-- userinfo  -->
        <div class="nav-btn" ><a href="/logout" style="text-decoration: none;color: white">安全退出</a></div>
    </div>
</nav>